In [ ]:
import pandas as pd

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/1EX5KOO5o5glrojk25pndqybYjpQaFHgC/export?format=csv'
df = pd.read_csv(url , header=1)

In [ ]:
df.head()

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,BANKNIFTY01APR2130600CE.NFO,1-Mar-21,14:39:59,"5,057","5,065","5,057","5,065",50,"48,000"
1,BANKNIFTY01APR2130600CE.NFO,1-Mar-21,15:09:59,"5,065","5,065","4,605","4,605",25,"48,000"
2,BANKNIFTY01APR2130700CE.NFO,1-Mar-21,15:00:59,"4,855","4,860","4,855","4,860",100,"48,000"
3,BANKNIFTY01APR2130700PE.NFO,1-Mar-21,14:14:59,141,141,137,137,"4,550","47,750"
4,BANKNIFTY01APR2130700PE.NFO,1-Mar-21,14:15:59,137,144,137,140,"4,550","47,750"

#classify the options data into various expiry dates:

In [ ]:
df = df.rename(columns={'Datetime': 'Time'})

In [ ]:
df.columns

Index(['Ticker', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume',
       'Open Interest'],
      dtype='object')

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])

In [ ]:
df_expiry = df.groupby(df['Time'].dt.strftime('%d%b%y'))

In [ ]:
for name, group in df_expiry:
    print(f"Expiry date: {name}")
    print(group)
    print('\n')

Expiry date: 22Apr23
                            Ticker      Date                Time       Open  \
0      BANKNIFTY01APR2130600CE.NFO  1-Mar-21 2023-04-22 14:39:59     5,057
1      BANKNIFTY01APR2130600CE.NFO  1-Mar-21 2023-04-22 15:09:59     5,065
2      BANKNIFTY01APR2130700CE.NFO  1-Mar-21 2023-04-22 15:00:59     4,855
3      BANKNIFTY01APR2130700PE.NFO  1-Mar-21 2023-04-22 14:14:59       141
4      BANKNIFTY01APR2130700PE.NFO  1-Mar-21 2023-04-22 14:15:59       137
...                            ...       ...                 ...        ...
82860            BANKNIFTY-III.NFO  1-Mar-21 2023-04-22 15:20:59    35,555
82861            BANKNIFTY-III.NFO  1-Mar-21 2023-04-22 15:23:59    35,500
82862            BANKNIFTY-III.NFO  1-Mar-21 2023-04-22 15:24:59    35,514
82863            BANKNIFTY-III.NFO  1-Mar-21 2023-04-22 15:25:59    35,514
82864            BANKNIFTY-III.NFO  1-Mar-21 2023-04-22 15:29:59    35,547

            High        Low      Close    Volume Open Interest
0         5,065      5,057      5,065        50        48,000
1         5,065      4,605      4,605        25        48,000
2         4,860      4,855      4,860       100        48,000
3           141        137        137     4,550        47,750
4           144        137        140     4,550        47,750
...          ...        ...        ...       ...           ...
82860    35,555     35,500     35,500       100       292,500
82861    35,514     35,500     35,514        25       292,525
82862    35,514     35,514     35,514        50       292,525
82863    35,547     35,514     35,547        25       292,475
82864    35,547     35,543     35,545        75       292,450

[82865 rows x 9 columns]

In [ ]:
# resample the data to 3 minutes, 5 minutes, 15 minutes, and 60 minutes

In [ ]:
df.tail()

,Ticker,Date,Open,High,Low,Close,Volume,Open Interest
Time,,,,,,,,
2023-04-22 15:20:59,BANKNIFTY-III.NFO,1-Mar-21,"35,555","35,555","35,500","35,500",100,"292,500"
2023-04-22 15:23:59,BANKNIFTY-III.NFO,1-Mar-21,"35,500","35,514","35,500","35,514",25,"292,525"
2023-04-22 15:24:59,BANKNIFTY-III.NFO,1-Mar-21,"35,514","35,514","35,514","35,514",50,"292,525"
2023-04-22 15:25:59,BANKNIFTY-III.NFO,1-Mar-21,"35,514","35,547","35,514","35,547",25,"292,475"
2023-04-22 15:29:59,BANKNIFTY-III.NFO,1-Mar-21,"35,547","35,547","35,543","35,545",75,"292,450"

In [ ]:
df = df.rename(columns={'Datetime': 'Time'})

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])
df.set_index('Time', inplace=True)

In [ ]:
df_3min = df.resample('3T').last()

In [ ]:
df_5min = df.resample('5T').last()

In [ ]:
df_15min = df.resample('15T').last()

In [ ]:
df_60min = df.resample('60T').last()

In [ ]:
df_3min.head()

,Ticker,Date,Open,High,Low,Close,Volume,Open Interest
Time,,,,,,,,
2023-04-22 09:15:00,BANKNIFTY-III.NFO,1-Mar-21,"35,450","35,470","35,450","35,470",75,"218,800"
2023-04-22 09:18:00,BANKNIFTY-III.NFO,1-Mar-21,"35,450","35,500","35,450","35,464",100,"218,825"
2023-04-22 09:21:00,BANKNIFTY-III.NFO,1-Mar-21,"35,450","35,450","35,410","35,410",75,"219,000"
2023-04-22 09:24:00,BANKNIFTY-III.NFO,1-Mar-21,"35,498","35,498","35,471","35,471",100,"219,000"
2023-04-22 09:27:00,BANKNIFTY-III.NFO,1-Mar-21,"35,380","35,383","35,328","35,383",50,"218,925"

In [ ]:
df_5min.head()

,Ticker,Date,Open,High,Low,Close,Volume,Open Interest
Time,,,,,,,,
2023-04-22 09:15:00,BANKNIFTY-II.NFO,1-Mar-21,"35,344","35,380","35,344","35,367",300,"282,325"
2023-04-22 09:20:00,BANKNIFTY-III.NFO,1-Mar-21,"35,410","35,485","35,410","35,485",25,"219,000"
2023-04-22 09:25:00,BANKNIFTY-III.NFO,1-Mar-21,"35,380","35,383","35,328","35,383",50,"218,925"
2023-04-22 09:30:00,BANKNIFTY-II.NFO,1-Mar-21,"35,201","35,211","35,182","35,186",150,"281,725"
2023-04-22 09:35:00,BANKNIFTY-III.NFO,1-Mar-21,"35,428","35,430","35,428","35,430",25,"219,025"

In [ ]:
df_15min.head()

,Ticker,Date,Open,High,Low,Close,Volume,Open Interest
Time,,,,,,,,
2023-04-22 09:15:00,BANKNIFTY-III.NFO,1-Mar-21,"35,380","35,383","35,328","35,383",50,"218,925"
2023-04-22 09:30:00,BANKNIFTY-III.NFO,1-Mar-21,"35,500","35,531","35,500","35,531",25,"219,025"
2023-04-22 09:45:00,BANKNIFTY-III.NFO,1-Mar-21,"35,569","35,569","35,530","35,530",50,"219,200"
2023-04-22 10:00:00,BANKNIFTY-II.NFO,1-Mar-21,"35,441","35,460","35,441","35,454",150,"282,375"
2023-04-22 10:15:00,BANKNIFTY-III.NFO,1-Mar-21,"35,700","35,700","35,700","35,700",50,"219,350"

In [ ]:
df_60min.head()

,Ticker,Date,Open,High,Low,Close,Volume,Open Interest
Time,,,,,,,,
2023-04-22 09:00:00,BANKNIFTY-III.NFO,1-Mar-21,"35,569","35,569","35,530","35,530",50,"219,200"
2023-04-22 10:00:00,BANKNIFTY-II.NFO,1-Mar-21,"35,628","35,635","35,620","35,628",100,"282,825"
2023-04-22 11:00:00,BANKNIFTY-III.NFO,1-Mar-21,"35,410","35,410","35,410","35,410","2,000","223,825"
2023-04-22 12:00:00,BANKNIFTY-II.NFO,1-Mar-21,"35,270","35,281","35,270","35,281",25,"346,825"
2023-04-22 13:00:00,BANKNIFTY-II.NFO,1-Mar-21,"35,442","35,442","35,404","35,422",175,"357,450"

In [ ]:
#Implied Volatility for all the options

In [ ]:
import numpy as np
from scipy.stats import norm
from scipy.optimize import brentq

In [ ]:
# Define the Black-Scholes call option price function
def bs_call(S, K, T, r, q, sigma):
    d1 = (np.log(S / K) + (r - q + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    return S * np.exp(-q * T) * norm.cdf(d1) - K * np.exp(-r * T) * norm.cdf(d2)

In [ ]:

# Define the implied volatility function
def implied_vol_call(S, K, T, r, q, C):
    # Define a function that returns the difference between the market price and the BS price
    def f(sigma):
        return bs_call(S, K, T, r, q, sigma) - C
    
    # Use brentq method to find the root of f
    return brentq(f, a=0.0001, b=10)

# implied volatility for a call option on BANKNIFTY with a strike price of 42,000 and an expiration date of April 27, 2023
S = 42303.00 # Future price(BANKNIFTY-I NFO close price) as of April 17, 2023
K = 42000 # Strike price
T = (27 - 17) / 365 # Time to expiration in years
r = 0.06 # Risk-free interest rate
q = 0 # Dividend yield
C = 2000 # Market price of the option

In [ ]:
# Call the implied volatility function
sigma = implied_vol_call(S, K, T, r, q, C)
print(f'The implied volatility is {sigma:.4f} or {sigma*100:.2f}%')

The implied volatility is 0.6504 or 65.04%